# MacOS paths
PATH_USERS="op://example-vault/example-item/example-field"

# MacOS user details
USER_USERNAME="op://example-vault/example-item/example-field"
USER_FIRST_NAME="op://example-vault/example-item/example-field"
USER_LAST_NAME="op://example-vault/example-item/example-field"
USER_EMAIL="op://example-vault/example-item/example-field"

# App: Git
GIT_GPG_SSH_PROGRAM="op://example-vault/example-item/example-field"
