# --------------------------------------------------------------------------
# Default environment variables that are accessible to both the
# Docker Compose files and the associated containers.
# - NOTE: This template will be copied to .devcontainer/.env and all
#   associated secrets will be populated when the one_time_setup.sh script
#   is run.
# --------------------------------------------------------------------------

OP_SERVICE_ACCOUNT_TOKEN={{ op://example-vault/example-item/example-field }}
