# --------------------------------------------------------------------------
# Default environment variables that are accessible to both the
# Docker Compose files and the associated containers.
# - NOTE: This template will be read by the init script which will
#   use 1Password CLI to inject secrets and generate .env in the repo root.
# --------------------------------------------------------------------------

OP_SERVICE_ACCOUNT_TOKEN={{ op://example-vault/example-item/example-field }}
