[user]
	name = ${USER_FIRST_NAME} ${USER_LAST_NAME}
	email = ${USER_EMAIL}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJCjaJB5AdrWt/WJ0VlZqBXEnG4j8ju/DfLsbJFptoVf
[core]
	excludesfile = ${PATH_USERS}/${USER_USERNAME}/.gitignore_global
[commit]
	template = ${PATH_USERS}/${USER_USERNAME}/.stCommitMsg
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = ${GIT_GPG_SSH_PROGRAM}
